*.pm        eol=lf
*.t         eol=lf
*.pod       eol=lf
*.pod.proto eol=lf
*.pl        eol=lf
*.PL        eol=lf
*.bash      eol=lf
*.json      eol=lf
*.yml       eol=lf
*.sql       eol=lf
/*          eol=lf
/script/*   eol=lf
/maint/*    eol=lf

*         text=auto
