# This file allows us to map authors more correctly
# so if someone were to legally change their name, we could use it to fix that
# while maintaining the integrity of the repository

# I've mapped the old single quote version of my name to the double quote
# version for consistency
Arthur Axel "fREW" Schmidt <frioux@gmail.com>         Arthur Axel 'fREW' Schmidt <frioux@gmail.com>
Andrew Rodland <andrew@cleverdomain.org>              Andrew Rodland <arodland@cpan.org>