# This file allows us to map authors more correctly
# so if someone were to legally change their name, we could use it to fix that
# while maintaining the integrity of the repository

Alexander Hartmaier <abraxxa@cpan.org>      <alexander.hartmaier@t-systems.at>
Amiri Barksdale <amiribarksdale@gmail.com>  <amiri@metalabel.com>
Andrew Rodland <andrew@cleverdomain.org>    <arodland@cpan.org>
Arthur Axel "fREW" Schmidt                  <frioux@gmail.com>
Brendan Byrd <Perl@ResonatorSoft.org>       <byrd.b@insightcom.com>
Brendan Byrd <Perl@ResonatorSoft.org>       <GitHub@ResonatorSoft.org>
Brendan Byrd <Perl@ResonatorSoft.org>       <perl@resonatorsoft.org>
Brian Phillips <bphillips@cpan.org>         <bphillips@digitalriver.com>
David Kamholz <dkamholz@cpan.org>           <davekam@pobox.com>
David Schmidt <davewood@gmx.at>             <d.schmidt@tripwolf.com>
Gerda Shank <gshank@cpan.org>               <gerda.shank@gmail.com>
Gordon Irving <goraxe@cpan.org>             <goraxe@goraxe.me.uk>
Matt Phillips <mattp@cpan.org>              <mphillips@oanda.com>
Peter Rabbitson <ribasushi@cpan.org>        <rabbit@viator.rabbit.us>
