[mysqld]

thread_cache_size = 0

# mysql >= 5.5.16
#thread_pool_size = 1

bulk_insert_buffer_size = 0
read_buffer_size = 32K
join_buffer_size = 128K
sort_buffer_size = 128K
table_definition_cache = 400

performance_schema = 0

query_cache_type = 0
query_cache_size = 0

innodb_use_sys_malloc = 1
innodb_buffer_pool_size = 1M

key_buffer_size = 64K
myisam_sort_buffer_size = 128K
